<app-navbar></app-navbar>

<h2 class="display-2 mx-4 mt-2"> Atividade/CP 2 </h2>

<h2 class="mx-4 mt-5">Feito pelo aluno: Gabriel Antunes Paterra - RM93688</h2>
<h5 class="mx-4 mt-2">(Atividade/CP passada em aula pelo professor Thiago Xavier)</h5>

<div class="border border-dark rounded-2 border-5 p-2 mx-4 mt-5">
  <h2>Exercício 1:</h2>
    <ul class="p-4">
        <li class="mt-2">Criar um mock (<a href="http://mockable.io/" target="_blank">mockable.io</a>) e utilizar como base a lista da API <a href="https://demo1290477.mockable.io/pockemon" target="_blank">https://demo1290477.mockable.io/pockemon</a></li>
        <li>Criar um componente com objetivo de listar os 20 primeiros Pokémon da Pokedex.</li>
    </ul>
    <h2>Exercício 2:</h2>
    <ul class="p-4">
        <li class="mt-2">Consumir a API do IBGE (<a href="https://servicodados.ibge.gov.br/api/v1/localidades/estados" target="_blank">
        https://servicodados.ibge.gov.br/api/v1/localidades/estados</a>) e com isso mostrar em uma tabela --> id, sigla e nome dos estados.</li>
    </ul>
</div>
