<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/lucario_icon.png" alt="" style="max-width: 100px; height: auto;"></a>
    <a class="navbar-brand text-white fw-bold" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white fw-bold px-5" href="/pokemon">Pokedex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/ibge">Estados IBGE</a>
        </li>
      </ul>
    </div>
    <a class="nav-link text-white fw-bold">Gabriel Paterra</a>
  </div>
</nav>
