<app-navbar></app-navbar>

<h2 class="display-1 text-center mt-5 mb-5"> Atividade 4 - ChatSerivce</h2>
<h2 class="mx-5 my-3"> Feito por: Gabriel Antunes Paterra - RM93688 </h2>
<h5 class="mx-5 my-3">(Atividade/CP passada em aula pelo professor Thiago Xavier)</h5>

<div class="border border-secundary rounded-2 border-5 p-2 mx-5 mt-5">

  <h2 class="mb-3">Exercícios:</h2>

  <p>1 - Criar uma service ChatService e transferir toda lógica da conexão ao hub para este serviço;</p>

  <p>2 - Criar um estilo bem bonito para o nosso chat.</p>

</div>
