<div class="container p-5 my-5 border">
  <h2 class="display-2 mx-4 mt-2">Atividade 3 - Grud</h2>
  <h2 class="mx-4 mt-5">Feito pelo aluno: Gabriel Antunes Paterra - RM93688</h2>
  <h5 class="mx-4 mt-2">(Atividade/CP passada em aula pelo professor Thiago Xavier)</h5>

  <div class="border border-dark rounded-2 border-5 p-2 mx-4 mt-5">
    <h2>Exercícios: </h2>
      <p>
        <strong>1. Create (Criar):</strong> <br>
        - Crie uma classe ou estrutura para representar um fornecedor. O fornecedor deve ter pelo menos os seguintes
        atributos: ID, nome, endereço e telefone. <br>
        - Implemente uma função ou método para adicionar um novo fornecedor ao sistema, solicitando ao usuário que
        insira as informações necessárias. <br>
        <strong>Read (Ler):</strong><br>
        - Implemente uma função ou método para exibir todos os fornecedores cadastrados no sistema, mostrando todos os
        seus atributos. <br>
        <strong>3. Update (Atualizar):</strong><br>
        - Implemente uma função ou método para atualizar as informações de um fornecedor existente. Solicite ao usuário
        que insira o ID do fornecedor que deseja atualizar e, em seguida, permita que eles atualizem as informações do
        fornecedor. <br>
        <strong>4. Delete (Excluir):</strong><br>
        - Implemente uma função ou método para excluir um fornecedor do sistema. Solicite ao usuário que insira o ID do
        fornecedor que deseja excluir e remova-o da lista de fornecedores. <br>
      </p>
  </div>
</div>
