<div class="container-fluid p-5">
    <h1>Insira um cliente</h1>
    <form [formGroup]="clienteForm" (ngSubmit)="inserir()" class="row g-3">
    <div class="col-auto">
      <label for="inputPassword2" class="visually">Nome</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Nome" formControlName="nome">
    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually">Telefone</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="Telefone" formControlName="telefone">
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>


<h2>Listar clientes</h2>

<table class="table table-dark table-striped-columns mt-3">
    <thead>
      <tr>  
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        @for (item of clientes; track $index){
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.nome}}</td>
                <td>{{item.telefone}}</td>
                <td><input type="button" value="remover" class="btn btn-danger" (click)="remover(item.id)"/></td>
            </tr>
        }
      
    </tbody>
</table>
</div>


